@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"); }
@font-face {
  font-family: "RobotoBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"); }
@font-face {
  font-family: "RobotoCondensedBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype"); }
@font-face {
  font-family: "RobotoCondensedLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype"); }
@font-face {
  font-family: "RobotoCondensedRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype"); }
@font-face {
  font-family: "RobotoLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype"); }

@font-face {
  font-family: 'myIcons';
  src: url('../fonts/my-icons/font9012.eot?#iefix') format('embedded-opentype'),  url('../fonts/my-icons/font9012.woff') format('woff'), url('../fonts/my-icons/font9012.ttf')  format('truetype'), url('../fonts/my-icons/font9012.svg#font9012') format('svg');
  font-weight: normal;
  font-style: normal;
}

.my {
  font-family: 'myIcons';
  font-size: 32px;
  display: inline-block;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my.my_a::before {
  content: 'a';
}
.my.my_b::before {
  content: 'b';
}
.my.my_c::before {
  content: 'c';
}
.my.my_d::before {
  content: 'd';
}
.my.my_e::before {
  content: 'e';
}
.my.my_f::before {
  content: 'f';
}
.my.my_g::before {
  content: 'g';
}
.my.my_h::before {
  content: 'h';
}
.my.my_i::before {
  content: 'i';
}
.my.my_j::before {
  content: 'j';
}
.my.my_k::before {
  content: 'k';
}
.my.my_l::before {
  content: 'l';
}